* {
    --bs-gutter-x :0 !important;
}
.container-fluid{
    margin: 0%;
    padding: 0%;
}
.navbar{
    padding-top:20px;
    padding-bottom:20px;
    padding-left:20px;
}
.logo{
    width: 31px;
    height: 25px;
    margin-left: 30px;
}
.nav-link{
    color:#141414;
}
.nav-link:hover{
    color:#10C9C3;
}
body{
    background-image: url("images/aidan-hancock-8RU4OuA6Yug-unsplash.png");
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-position: 50% 0%;
    background-size:cover;
}
.homeHeader{
    margin-top: 250px;
    font-size: 50px;
}
hr{
    border-width: 0px;
}
.homeSub{
    font-size: 20px;
}
.finalNavItem{
    margin-right: 30px;
}
.css-button-sharp--green {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border: 2px solid #10c9c3;
    background: #10c9c3;
  }
.css-button-sharp--green:hover {
    background: #fff;
    color: #10c9c3
  }
.aboutDesc{
    margin-top:400px;
    padding-top:75px;
    background-color: white;
    margin-bottom: 0px;
    padding-bottom:75px;
}
.aboutDesc2{
    margin: 0px;
    background-color: white;
}
.progress-bar{
    background: #10C9C3;
}
.skills-bg2{
background-image: url(/images/stil-sHGyGynyD5Y-unsplash.png);
background-repeat: no-repeat;
background-size: cover;
}
.skills-bg1{
    background-color:#F5F5F5;
    z-index: -1;
}
.skills-bg3{
    background-color:#10C9C3;
    padding-top: 75px !important;
    padding-bottom: 75px !important;
}
.skills-col-1{
    padding-top:100px;
    padding-bottom: 100px;
}
.img-fluid{
    height:100%;
    width:100%;
}

.ran-space{
    padding:50px; 
    background-color:#F5F5F5;
    margin:0%;
}
.service-bg{
    background-color: white;
}
.testimonial{
    padding:200px;
    background-color:#10C9C3;
    color:white;
}
.proj{
    padding:75px;
    background-color: white;
}
.holder {
    position: relative;
    width: 50%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
  }
  
  .holder:hover .overlay {
    opacity: .5;
  }
  
.hover-mid{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .formbackground {
    background-color: #F5F5F5;
    height: 500px;
    padding-top: 100px;
    padding-bottom: 100px;
    height:600px;
  }
    #signUp {
    margin-top: 10px;
    padding: 0 20px 15px 20px;
    border: 1px solid #F5F5F5;
  }
  
  #signUp legend {
    font-size: 2em;
    font-weight: 200;
    padding: 0 .2em;
  }
  
  #signUp label {
    display: block;
    padding-top: 1em;
  }
  
  #signUp label:first-of-type {
    margin-top: -.9em;
  }
  
  #nameLabel {
    margin-top: -1em;
  }
  
  #submit,
  #clearCookie {
    display: block;
    font-size: 1em;
    color: #FFF;
    text-transform: uppercase;
    background: #10C9C3;
    padding: .8em 1em .7em;
    border: 0;
    border-bottom: 3px solid #10b7b1;
    margin-top: 15px;
  }
  
  .textfield {
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
    padding: 7px;
    background: #efefef;
    border: 1px solid #bbb;
    width: 97%;
  }
  
  .textfield:focus {
    background: #FBF8D2;
  }
  
  .textalign {
    text-align: center;
  }